.order-status-base {
	text-algin: center;
}

.order-status-base ul {
	margin: 0px auto;
	overflow: hidden;
	padding: 0;
}

.order-status-base ul li {
	list-style: none;
	margin-left: 0 !important;
	text-align: center;
	width: 33.11111%;
	float: left;
}

.order-status-base .step-no {
	margin-top: 10px;
	color: #fff;
	font-size: 18px;
	height: 34px;
	line-height: 34px;
	background: url("../images/order-time-base-admin.png") no-repeat scroll 50% -102px;
}


.order-status-base .step-first .step-done .step-no {
	background-position: 50% -204px;
}
.order-status-base .step-first .step-cur .step-no {
	background-position: 50% -34px;
}
.order-status-base .step-done .step-no {
	background-position: 50% -170px;
}
.order-status-base .step-cur .step-no {
	background-position: 50% 0;
}
.order-status-base .step-last .step-no {
	background-position: 50% -136px;
}
.order-status-base .step-last .step-cur .step-no {
	background-position: 50% -69px;
}


.username{
	display:none;
}
.userinfo{
	padding:4px 6px;
}
