.panel-customize {
    background-color: #fbfcfc;
    border: 1px solid transparent;
    border-radius: 4px;
	border-color: #f1f5fb;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
	height:280px;
}
.title-realestates-columns{
	height:105px;
}
.task-thumb-details {
    display: inline-block;
    margin: 13px 0 15px 20px;
}
.task-thumb-details img{
   margin-left:5px;
}
.customize-img img{
	float:left;
}
.customize-plus{
	margin-top:45px;
	text-align:center;
}
.customize-plus h4{
	margin-top:20px;
	margin-bottom:25px;
}
.btn.btn-default-staff {
    background-color: #fff;
    border: 1px solid #bdc3c7;
	color: #000000;
}
.staff-count{
	margin:0 3px 0 5px;
}
.help-block{
	margin-left:15px;
}

