.fund-title {
	background-color: #f9f9f9;
	margin: 15px;
	line-height: 50px;
	border-radius: 4px;
}

.fund-title .panel-item {
	display: block;
	float: left;
	max-width: 500px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 20px;
}

.fund-title .panel-item .price, .form-group .price {
	font-size: 24px;
	color: #e62129;
}

.fund-list-header {
	padding-left: 20px;
	font-weight: 600;
	font-size: 15px;
}

.th-striped {
	background-color: #f9f9f9;
}

.col-lg-6.bank_account {
	padding: 20px 15px;
	margin-left: 15px;
	border-radius: 4px;
	background-color: #FDF9EB;
	border: 1px solid #F0CA99;
	width: 47.3%;
}

.bank_account .bank_name {
	float: left;
	max-width: 200px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-right: 10px;
}

.bank_account .bank_account_number {
	float: left;
	margin-right: 10px;
}

.bank_account .change_bank {
	color: #ca862e;
}

.accordion-body .amount_price {
	color: #e62129;
	font-size: 15px;
}

.quickpay-time-base {
	text-algin: center;
}
.quickpay-time-base ul {
	margin: 0px auto;
	overflow: hidden;
	padding: 0;
}
.quickpay-time-base ul li {
	list-style: none;
	margin-left: 0 !important;
	text-align: center;
	width: 47.11111%;
	float: left;
}
.quickpay-time-base .step-no {
	margin-top: 10px;
	color: #fff;
	font-size: 18px;
	height: 34px;
	line-height: 34px;
	background: url("../images/order-time-base-admin.png") no-repeat scroll 50% -102px;
}
.quickpay-time-base .step-first .step-done .step-no {
	background-position: 50% -204px;
}
.quickpay-time-base .step-first .step-cur .step-no {
	background-position: 50% -34px;
}
.quickpay-time-base .step-done .step-no {
	background-position: 50% -170px;
}
.quickpay-time-base .step-cur .step-no {
	background-position: 50% 0;
}
.quickpay-time-base .step-last .step-no {
	background-position: 50% -136px;
}
.quickpay-time-base .step-last .step-cur .step-no {
	background-position: 50% -68px;
}
.quickpay-time-base .step-cur .step-failed {
    background-position: 50% 0;
}
.quickpay-time-base .step-failed {
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
    height: 34px;
    line-height: 34px;
    background: url(../images/order-time-base-red-admin.png) no-repeat scroll 50% -102px;
}

.withdraw-price {
	color: #e62129;
}