.footer{min-width:1190px;margin:0 auto;clear:both}
.footer-h40{height:40px}
.footer .helpnav{background:#f3f3f3;min-width:1190px;padding:24px 0;clear:both}
.footer .helpnav-list{float:left;width:200px;margin:0 10px;display:inline-block}
.footer .helpnav-title{height:40px;line-height:40px;color:#000;font-size:16px}
.footer .helpnav-title i{display:inline-block;float:left;margin-right:15px;width:40px;height:40px;overflow:hidden}
.footer .helpnav-list ul{margin-left:55px;font-size:13px;line-height:26px;color:#555}
.footer .helpnav-list ul li a:link,.footer .helpnav-list ul li a:visited{color:#555;text-decoration:none}
.footer .helpnav-list ul li a:hover{color:#e6133c;text-decoration:underline}
.footer .bottom-nav{font-size:14px;line-height:24px;text-align:center;padding:15px 0 0;color:#999;background:#f3f3f3}
.footer .bottom-nav a.drug-message{color:#999;font-size:12px;padding-top:5px}
.footer .bottom-nav a.drug-message:hover,.footer .bottom-nav a.drug-message:link,.footer .bottom-nav a.drug-message:visited{color:#666}
.footer .bottom-contact{line-height:20px;text-align:center;color:#999;padding:10px 0;background:#fff}
.bottom-nav span{padding:0 8px}.bottom-contact span{padding:0 10px;color:#666}
.footer .bottom-nav a:link,.footer .bottom-nav a:visited{color:#333}
.footer .bottom-nav a:hover{color:#e6133c}
.footer .bottom-nav .copyright{color:#999}
.footer .bottom-nav .police{width:100%;text-align:center;padding:10px 0 20px;background:#f3f3f3}
.footer .bottom-nav .police a{display:inline-block;text-decoration:none;height:20px;line-height:20px;margin-right:10px}
.footer .bottom-nav .police a img{float:left;display:inline}
.footer .bottom-nav .police a span{float:left;display:inline;height:20px;line-height:20px;margin:0 0 0 5px;color:#999}
.footer-center{width:1100px;margin:0 auto}
.copyright span{padding:0 8px;color:#ccc}
.w960 .helpnav-list{width:170px}
.w960 .footer,.w960 .footer .helpnav{min-width:950px}
.w960 .footer-center{width:950px;margin:0 auto}
.footer .copyright a:link, .footer .copyright a:visited {
    color: #999;
    text-decoration: none;
}