.payrecord-time-base {
	text-algin: center;
	border:1px solid #ddd;
	border-radius:4px;
	margin-bottom: 20px;
}
.payrecord-time-base ul {
	margin: 10px 0 20px 0;
	overflow: hidden;
	padding: 0;
}
.payrecord-time-base ul li {
	list-style: none;
	margin-left: 0 !important;
	text-align: center;
	width: 49.111%;
	float: left;
	line-height:22px;
	padding-top:10px;
}
.payrecord-time-base .step-no {
	margin-top: 10px;
	color: #fff;
	font-size: 18px;
	height: 34px;
	line-height: 34px;
	background: url("../images/order-time-base-admin.png") no-repeat scroll 50% -102px;
}
.payrecord-time-base .step-first .step-done .step-no {
	background-position: 50% -204px;
}
.payrecord-time-base .step-first .step-cur .step-no {
	background-position: 50% -34px;
}
.payrecord-time-base .step-done .step-no {
	background-position: 50% -170px;
}
.payrecord-time-base .step-cur .step-no {
	background-position: 50% 0;
}
.payrecord-time-base .step-last .step-no {
	background-position: 50% -136px;
}
.payrecord-time-base .step-last .step-cur .step-no {
	background-position: 50% -68px;
}
.payrecord-time-base .step-failed {
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
    height: 34px;
    line-height: 34px;
    background: url("../images/order-time-base-red-admin.png") no-repeat scroll 50% -102px;
}
.payrecord-time-base .step-first .step-done .step-failed {
    background-position: 50% -204px;
}
.payrecord-time-base .step-first .step-cur .step-failed {
    background-position: 50% -34px;
}
.payrecord-time-base .step-done .step-failed {
    background-position: 50% -170px;
}
.payrecord-time-base .step-cur .step-failed {
    background-position: 50% 0;
}
.payrecord-time-base .step-last .step-failed {
    background-position: 50% -136px;
}
.payrecord-time-base .step-last .step-cur .step-failed {
    background-position: 50% -68px;
}

.refund_content img{
	width:50px;
	height:50px;
}



.back-logo-wrap ul {
    margin: -2px 0 0 -20px;
}
.back-logo-wrap ul li {
    float: left;
    margin-left: 20px;
	line-height: 20px;
	list-style: outside none none;
}
.back-logo.active {
    border: 1px solid #01b7ee;
    color: #01b7ee;
}

.back-logo {
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative;
    width: 110px;
}
.back-logo.active .back-logo-select {
    display: block;
}
.back-logo .back-logo-select {
    border: medium none;
    border-top-right-radius: 3px;
    bottom: 0;
    display: none;
    position: absolute;
    right: 0;
    width: 20px;
    z-index: 100;
}
.back-logo-wrap img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}