.refund_content{
	border: 1px solid #CACACA;
	border-radius:5px;
	margin-top:20px;
}
.refund_content p{
	margin:20px;
}
.refund_content img{
	width:50px;
	height:50px;
}


.mer-content{
	margin-left: -15px;
    margin-right: -15px;
	margin-top: 25px;
}
.mer-title{
	float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.mer-content-textarea{
	width: 85.3%;
	float: left;
    padding-right: 15px;
	margin-bottom: 10px;
}
.goods-content{
	margin-top: 20px;
}
.mer-btn{
	margin-left: 12.667%;
	margin-top:10px;
}



.goods-img{
	float: left;
}
.goods-img img{
	width:50px;
	height:50px;
}
.goods-desc{
	display: inline-block;
	margin-left:10px;
}
.goods-desc p{
	width:250px;
	margin: 3px 0 6px 0;
}
.goods-content span {
    float: right;
}

.goods-info{
    margin-bottom: 5px;
}

.mer_check{
	border: 1px solid #CACACA;
	border-radius:5px;
	margin-top:20px;
}
.mer_check p{
	margin:20px;
}

.return_mer_check{
	border: 1px solid #CACACA;
	border-radius:5px;
	margin-top:20px;
}

.return_mer_check p{
	margin:20px;
}

.adm_check{
	border: 1px solid #CACACA;
	border-radius:5px;
	margin-top:20px;
}
.adm_check p{
	margin:20px;
}


.refund-time-base {
	text-algin: center;
}
.refund-time-base ul {
	margin: 0px auto;
	overflow: hidden;
	padding: 0;
}
.refund-time-base ul li {
	list-style: none;
	margin-left: 0 !important;
	text-align: center;
	width: 32.11111%;
	float: left;
}
.refund-time-base .step-no {
	margin-top: 10px;
	color: #fff;
	font-size: 18px;
	height: 34px;
	line-height: 34px;
	background: url("../images/order-time-base-admin.png") no-repeat scroll 50% -102px;
}
.refund-time-base .step-first .step-done .step-no {
	background-position: 50% -204px;
}
.refund-time-base .step-first .step-cur .step-no {
	background-position: 50% -34px;
}
.refund-time-base .step-done .step-no {
	background-position: 50% -170px;
}
.refund-time-base .step-cur .step-no {
	background-position: 50% 0;
}
.refund-time-base .step-last .step-no {
	background-position: 50% -136px;
}
.refund-time-base .step-last .step-cur .step-no {
	background-position: 50% -68px;
}
.refund-time-base .step-failed {
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
    height: 34px;
    line-height: 34px;
    background: url("../images/order-time-base-red-admin.png") no-repeat scroll 50% -102px;
}
.refund-time-base .step-first .step-done .step-failed {
    background-position: 50% -204px;
}
.refund-time-base .step-first .step-cur .step-failed {
    background-position: 50% -34px;
}
.refund-time-base .step-done .step-failed {
    background-position: 50% -170px;
}
.refund-time-base .step-cur .step-failed {
    background-position: 50% 0;
}
.refund-time-base .step-last .step-failed {
    background-position: 50% -136px;
}
.refund-time-base .step-last .step-cur .step-failed {
    background-position: 50% -68px;
}




.return-time-base {
	text-algin: center;
}
.return-time-base ul {
	margin: 0px auto;
	overflow: hidden;
	padding: 0;
}
.return-time-base ul li {
	list-style: none;
	margin-left: 0 !important;
	text-align: center;
	width: 19.11111%;
	float: left;
}
.return-time-base .step-no {
	margin-top: 10px;
	color: #fff;
	font-size: 18px;
	height: 34px;
	line-height: 34px;
	background: url("../images/order-time-base-admin.png") no-repeat scroll 50% -102px;
}
.return-time-base .step-first .step-done .step-no {
	background-position: 50% -204px;
}
.return-time-base .step-first .step-cur .step-no {
	background-position: 50% -34px;
}
.return-time-base .step-done .step-no {
	background-position: 50% -170px;
}
.return-time-base .step-cur .step-no {
	background-position: 50% 0;
}
.return-time-base .step-last .step-no {
	background-position: 50% -136px;
}
.return-time-base .step-last .step-cur .step-no {
	background-position: 50% -68px;
}
.return-time-base .step-failed {
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
    height: 34px;
    line-height: 34px;
    background: url("../images/order-time-base-red-admin.png") no-repeat scroll 50% -102px;
}
.return-time-base .step-first .step-done .step-failed {
    background-position: 50% -204px;
}
.return-time-base .step-first .step-cur .step-failed {
    background-position: 50% -34px;
}
.return-time-base .step-done .step-failed {
    background-position: 50% -170px;
}
.return-time-base .step-cur .step-failed {
    background-position: 50% 0;
}
.return-time-base .step-last .step-failed {
    background-position: 50% -136px;
}
.return-time-base .step-last .step-cur .step-failed {
    background-position: 50% -68px;
}



strong{
	margin-left:5px;
}

small{
	 color: #737373;
}
.return_shipping_content{
	color: #737373;
	margin-left:30px;
}
.return-btn{
	text-align:center;
}
.return_shipping_content p{
	margin-bottom:0px;
	font-size: 12px;
	
}


.order-money-info{
	background-color: #F4F4F4;
    border: 1px solid #F4F4F4;
    border-radius: 4px;
    padding: 10px;
}
.order-money-info p{
	margin: 0px;
	padding:10px;
}

.ecjiafc-font{
	font-weight:bold;
	font-size:18px;
}