.notice_list .panel-empty{
	height:335px;
}
.notice_list .panel{
	border:1px solid #eee;	
}
.notice_list .panel-body{
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px solid #eee;
}
.notice_list .panel-body:last-child{
	border-bottom:none;
}
.notice_list .panel-heading{
	background-color:#F0F0F0;
	padding:10px 10px;
}
.notice_list .text-center{
	margin:0;
	padding:0;
	width:100%;
	height:125px;
}
.notice_list .tertiary{
	width:200px;
	margin:0 auto;
	height:100px;
	background: #F0F0F0;
	border-radius: 0.2857rem;
	border: none;
	box-shadow: 0px 0px 0px 1px rgba(39,41,43,0.15),0px 1px 2px 0 rgba(0,0,0,0.05);
}
.notice_list .tertiary .list{
	padding-top:20px;
}
.notice_list .tertiary .list .item .fa {
	font-size:2em;
}
.notice_list .tertiary .list .item h3{
	font-size: 18px;
	font-weight:normal;"
}

.notice_list .list-group-item a {
    text-decoration:none;
}
.notice_list .list-group-item:hover{
    background:#F0F0F0;
}
.notice_list .list-group-item-info:hover{
    background:#3498DB;
}
.notice_list .list-group-item-info a {
    color:#fff;
}