ROYALCMS_ENV=production
TIMEZONE=Asia/Shanghai
AUTH_KEY=
DEBUG=false
LOCALE=zh_CN

# https on/off
#HTTPS=on
#CUSTOM_ORIGINAL_HOME_URL=https://www.xxx.com

# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_PREFIX=ecjia_

DB_ECJIA_HOST=${DB_HOST}
DB_ECJIA_PORT=${DB_PORT}
DB_ECJIA_DATABASE=${DB_DATABASE}
DB_ECJIA_USERNAME=${DB_USERNAME}
DB_ECJIA_PASSWORD=${DB_PASSWORD}
DB_ECJIA_PREFIX=${DB_PREFIX}

DB_CASHIER_HOST=${DB_HOST}
DB_CASHIER_PORT=${DB_PORT}
DB_CASHIER_DATABASE=${DB_DATABASE}
DB_CASHIER_USERNAME=${DB_USERNAME}
DB_CASHIER_PASSWORD=${DB_PASSWORD}
DB_CASHIER_PREFIX=${DB_PREFIX}

DB_DSCMALL_HOST=127.0.0.1
DB_DSCMALL_PORT=3306
DB_DSCMALL_DATABASE=
DB_DSCMALL_USERNAME=
DB_DSCMALL_PASSWORD=
DB_DSCMALL_PREFIX=dsc_

# Cache
CACHE_DRIVER=file #file, memcached, redis

# Cashier
CASHIER_SIGNIN_VALIDATE_DEVICE=true