.merchant-template-content .template-content {
	height: 405.22px;
	float: left;
}
.merchant-template-content .template-item {
	width: 200px;
	height: 403.22px;
	float: left;
}
.merchant-template-content .template-content .template-item:nth-child(2){
	margin-left: 80px;
}
.merchant-template-content .template-content .template-item:nth-child(3){
	margin-left: 90px;
}
.m_l130 {
	margin-left: 130px;
}
.m_l140 {
	margin-left: 140px;
}