/*申诉详情*/
i.fa-star {
	color: #FF9933;
}
.appeal-time-base {
	text-algin: center;
	border:1px solid #ddd;
	border-radius:4px;
}
.appeal-time-base ul {
	margin: 0px auto;
	overflow: hidden;
	padding: 0;
}
.appeal-time-base ul li {
	list-style: none;
	margin-left: 0 !important;
	text-align: center;
	width: 32.11111%;
	float: left;
	line-height:22px;
	padding-top:10px;
}
.appeal-time-base .step-no {
	margin-top: 10px;
	color: #fff;
	font-size: 18px;
	height: 34px;
	line-height: 34px;
	background: url("../images/order-time-base-admin.png") no-repeat scroll 50% -102px;
}
.appeal-time-base .step-first .step-done .step-no {
	background-position: 50% -204px;
}
.appeal-time-base .step-first .step-cur .step-no {
	background-position: 50% -34px;
}
.appeal-time-base .step-done .step-no {
	background-position: 50% -170px;
}
.appeal-time-base .step-cur .step-no {
	background-position: 50% 0;
}
.appeal-time-base .step-last .step-no {
	background-position: 50% -136px;
}
.appeal-time-base .step-last .step-cur .step-no {
	background-position: 50% -68px;
}
.appeal-time-base .step-failed {
	margin-top: 10px;
	color: #fff;
	font-size: 18px;
	height: 34px;
	line-height: 34px;
	background: url("../images/order-time-base-red-admin.png") no-repeat scroll 50% -102px;
}
.appeal-time-base .step-last .step-cur .step-failed {
	background-position: 50% -68px;
}
.text-right-commentinfo{
	height:70px;
}
.comment-users-img{
	float:left;
}
.comment-userinfo{
	float:left;
	margin-left:10px;
}
.commentinfo-can-btn{
	padding-top:10px;
}
.comment-userinfo .span-padding{
	padding-left:15px;
}
.comment-content-info{
	padding-top:10px;
}
.comment-time {
	padding-top:9px;
}
.commen-ip{
	margin-right:40px;
}
.appeal-imgs-div{
	padding-top:10px;
	padding-bottom:5px;
}
.appeal-content-info{
	padding-bottom:5px;
}
.appeal-check-reply-info{
	border:1px solid #ddd;
	border-radius:4px;
	height:120px;
	margin: 10px 0px; 
}
.appeal-check-reply-info .admin-remark{
	padding-top:10px;
	padding-left:10px;
}
.process-time-style{
	padding-top:8px;
}
.button-style{
	padding-top:10px;
}
.appeal-content-style{
	border:1px solid #ddd;
	border-radius:4px;
}
.appeal-content-style .appeal-content-padding{
	padding-top:10px;
	padding-left:12px;
}