.auto-refresh{
	margin-right:10px;
}
.main_content .row-fluid + .row-fluid-new{
	margin-top:5px;
}
.main_content .row-fluid + .row-fluid-footer{
	margin-top:10px;
}
.task-heading .heading{
	padding-bottom:6px;
	margin-bottom:15px;
}
.express-task .editpage-rightbar{
	width:100%;
	margin-right:0px;
}

.express-task .editpage-rightbar .left-bar1 .left-bar{
	width:24%;
}
.order-border-first{
  border:1px solid #009acd;
}
.order-border-other{
  border:1px solid #dcdcdc;
}
.express-task .editpage-rightbar .left-bar .accordion-toggle{
	background-image:url();
}

.express-task .editpage-rightbar .right-bar .accordion-toggle{
	background-image:url();
}

.express-task .editpage-rightbar .middle-bar{
	width:49%;
	margin-left:1%;
	margin-right:1%;
	border: 1px solid #dcdcdc;
	border-radius:4px;
	height:580px;
	float:left;
}

.express-task .editpage-rightbar .right-bar{
	width:24.579%;
	margin-right:0;
	height:580px;
	border:1px solid #dcdcdc;
	border-radius:4px;
}
.express-task .editpage-rightbar .right-bar .foldable-list .accordion-group{
	border:none;
	border-radius:0px;
}
.express-task .editpage-rightbar .left-bar1 .left-bar .accordion-inner{
	margin:10px 5px;
	padding:0 0;
	width:96%;
}
.margin-label{
	margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 13px;
}
.btn-a{
	margin-bottom: 10px;
}
.border-bottom-line{
	border-bottom: 1px dashed #dcdcdc;
}
.takeing{
	background: url("../images/take.png") no-repeat;
	position: absolute;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width:20px;
	height:20px;
	display:inline-block;
	margin-top: -2px;
}

.sending{
	background: url("../images/send.png") no-repeat;
	position: absolute;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width:20px;
	height:20px;
	display:inline-block;
	margin-top: -2px;
}

.express-task .editpage-rightbar .right-bar .accordion-inner{
	margin:0px 4px;
	padding:0 0;
	border-top:none;
}
.triangle{
	background: url(../images/tran_1.png) no-repeat -2px 4px;
    position: relative;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 17px;
    height: 17px;
    display: inline-block;
    font-weight: bold;
    margin-left: 9px;
}
.triangle1{
	background: url(../images/tran_2.png) no-repeat -2px 2px;
    position: relative;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 17px;
    height: 17px;
    display: inline-block;
    font-weight: bold;
    margin-left: 9px;
	margin-bottom:-2px;
}
.triangle2{
	background: url(../images/tran_1.png) no-repeat -2px 3px;
    position: relative;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 17px;
    height: 17px;
    display: inline-block;
    font-weight: bold;
    margin-left: 9px;
}


.express-user-info{
	margin-left: 0px;
    margin-top: 7px;
    margin-bottom: 7px;
	border: 1px solid #dcdcdc;
	height:140px;
	width:97%;
}
.express-user-info .express-img{
	float:left;
	clear:both;
	position:relative;
	width:35%;
	margin-left:4%;
}
.express-user-info .express-img img{
	width:60px;
	height:60px;
	margin:5px;
	border-radius: 43px;
}
.express-user-info .imginfo-div .expressinfo{
	float: right;
    margin-right: 8%;
    height: 44px;
    line-height: 22px;
    padding-top: 25px;
	width:52%;
}
.express-order-div{
	width:100%;
	float:left;
	margin-top: 7px;
    margin-bottom: 7px;
	clear:both;
}
.express-order-div .waitfor-pickup{
	padding-left: 6.99999%;
    width: 45%;
    float: left;
}
.express-order-div .waitfor-pickup span{
	color:#c62626;
	display:inline-block;
	margin-left:8px;
}
.express-order-div .wait-sending{
	width: 44%;
    padding-right: 4%;
    float: right;
}
.express-order-div .wait-sending span{
	color:#c62626;
	display:inline-block;
	margin-left:8px;
}

.express-user-info .assign-div{
	width:96%;
	float:left;
	margin-top: 0px;
    margin-bottom: 7px;
	clear:both;
	margin-left:15px;
}
.press-list{
	border:1px solid #fff;
}
.leave-press-list{
	border:1px solid #fff;
}
.right-scroll{
	height:539px;
	overflow:auto;
}
.margin-icon{
	margin-left:25px;
}
.norecord{
	text-align: center;
    margin-top: 290px;
}
.map-change-remark{
	float:left;
	margin-top:8px;
	width:58%;
}
.numcolor{
	color:#c62626;
	margin-right:6px;
}
.fresh{
	float:left;
	width:40%;
}
.countdown{
	height:32px;
	float:left;
	margin-top:8px;
}
.mark{
	color:#c62626;
}
.map-exp-order{
	display:block;
}
.map-exp-user{
	display:none;
}

/*配送订单详情*/
.wait-grab-order-detail .modal {
   width: 930px;
   margin-left: -350px;
   margin-top: 10px;
}
.order-wait-grab-detail .modal-body {
    max-height: 800px;
}

.express_content{
	height:515px;
	overflow:auto;
}
.express_order{
	height:35px;
	border-bottom: 1px solid #dcdcdc;
}
.express_order span{
	font-size: 16px;
	margin-right: 35px;
}
.pickup_info{
	width:435px;
	height:168px;
	background-color: #f9fafa;
	border: 1px solid #f9fafa;
    border-radius: 5px;
    margin-top: 20px;
	float:left;
}
.delivery_info{
	width:435px;
	height:168px;
	background-color: #f9fafa;
	border: 1px solid #f9fafa;
    border-radius: 5px;
    margin-top: 20px;
	float:right;
}

.shipping_info{
	width:435px;
	height:138px;
	background-color: #f9fafa;
	border: 1px solid #f9fafa;
    border-radius: 5px;
    margin-top: 20px;
	float:left;
}
.express_content li {
	list-style: none;
	margin-top: 5px;
}

.order_goods{
	width:881px;
	background-color: #f9fafa;
	border: 1px solid #f9fafa;
    margin-top: 20px;
	float:left;
	border-bottom: 1px solid #dcdcdc;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.goods-info{
	margin-bottom: 15px;
}
.info-left{
    float: left;
}

.info-right{
	 margin-left: 70px;
}
.goods_number{
	margin-left:60px;
}
.order_desc{
	width:881px;
	background-color: #f9fafa;
	border: 1px solid #f9fafa;
	float:left;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.order_info{
	width:881px;
	background-color: #f9fafa;
	border: 1px solid #f9fafa;
	float:left;
	margin-top: 20px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.order_info .order{
	width:50%;
	float:right;
	height:35px;
}

/*查看当前位置*/
.express-location-modal{
	height:580px;
	width:950px;
}
.currnt-location-detail .modal {
   width: 950px;
   margin-left: -350px;
   margin-top: 10px;
}
.location-detail .modal-body {
    max-height: 800px;
	padding:10px 10px;
}
.express_location{
	height:650px;
	overflow:auto;
}
.map-current-location{
	height:523px;
	width:934px;
}

/*重新指派订单*/
.express-assign-modal{
	height:580px;
	width:950px;
}
.assign-order-detail .modal {
   width: 995px;
   margin-left: -395px;
   margin-top: 10px;
}
.assign-detail .modal-body {
    max-height: 800px;
	padding:10px 10px;
}
.express_reassign{
	height:650px;
	overflow:auto;
}
.map-reassign{
	float: left;
    height: 523px;
    width: 72%;
}
.express_reassign .right-bar{
	/*border: 1px solid #dcdcdc;*/
    border-radius: 4px;
    float: right;
    height: 523px;
    margin-right: 0;
    width: 27%;
}
.express_reassign .right-bar .accordion-toggle{
	background-image:url();
}
.express_reassign .accordion-body .accordion-inner {
	 padding: 9px 7px;
}
.text-position{
	text-align:center;
}
.express_reassign .right-scroll{
	height: 468px;
    overflow: auto;
}

/*重新指派弹框页指派操作*/
.re-assign-model{
	display:none;
}
.re-assign-model .modal{
	margin-left: -166px;
    margin-top: 220px;
}
.re-assign-model .formSep{
	border-bottom:none;
	margin-bottom:10px;
	padding-bottom:0px;
}
.re-assign-model .notice-message{
	padding: 10px;
	font-size: 16px;
	font-weight: normal;
	text-align:center;
}

.middle-bar .foldable-list .accordion-heading .accordion-toggle{
	background-image:url();
}

.map-change-icon {
    background: url(../images/shrink.png) no-repeat;
    /*position: absolute;*/
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: -2px;
	float:right;
	font-family: FontAwesome;
}