#general_loading {
    width:100%;
    height:600px;
    line-height:500px;
    text-align:center;
    overflow: hidden;
    display:none;
}
.general_data {
    width:100%;
    height:580px;
}
#general_data {
    height:580px;
    width:950px;
    margin:0 auto;
}
.general_datas {
    width:100%;
    height:580px;
}
#general_datas {
    height:580px;
    width:950px;
    margin:0 auto;
}
.area_data {
    width:100%;
    height:500px;
}
#area_data {
    height:500px;
    width:700px;
    margin:0 auto;
}
#area_loading {
    width:700px;
    height:350px;
    line-height:300px;
    text-align:center;
    overflow: hidden;
    display:none;
}
.from_data {
    width:100%;
    height:500px;
}
#from_data {
    height:500px;
    width:700px;
    margin:0 auto;
}
#from_loading {
    width:700px;
    height:350px;
    line-height:300px;
    text-align:center;
    overflow: hidden;
    display:none;
}
#order_general {
    height:300px;
    width:600px;
    margin:0 auto;
}
#order_status {
    height:600px;
    width:100%;
    margin:0 auto;
}
#ship_status {
    height:300px;
    width:600px;
    margin:0 auto;
}
#ship_stats {
    height:600px;
    width:100%;
    margin:0 auto;
}
#pay_status {
    height:300px;
    width:600px;
    margin:0 auto;
}
#pay_stats {
    height:600px;
    width:100%;
    margin:0 auto;
}
#order_count {
    height:600px;
    width:100%;
    margin:0 auto;
}
#order_amount {
    height:600px;
    width:100%;
    margin:0 auto;
}
#salecount {
    height:600px;
    width:100%;
    margin:0 auto;
}