@charset "utf-8";
* {
    box-sizing: border-box;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
.weixin-menu-title {
    padding: 20px;
    font-size: 20px;
}
.weixin-menu-content {
    margin: 0 auto;
    padding: 0 20px;
}
#weixin-app-menu {
    overflow: hidden;
    margin-bottom: 40px;
}
.weixin-menu-right {
    float: left;
    width: 100%;
}
.weixin-menu-right-content {
    min-height: 540px;
    margin: 0 0 0 342px;
    color: #666;
}
.menu_initial_tips {
    text-align: center;
    padding-top: 200px;
    color: #8d8d8d;
}
.weixin-preview {
    margin-left: -100%;
    float: left;
    width: 322px;
    position: relative;
    height: 540px;
    margin-right: 10px;
    border: 1px solid #e7e7eb;
}
.mobile_menu_preview {
    position: relative;
    display: table;
    table-layout: fixed;
    z-index: 1;
    width: 321px;
    height: 538px;
    margin: 0;
}
.weixin-preview a {
    text-decoration: none;
    color: #616161;
}
.weixin-preview a.pre_menu_link {
    display: block;
    color: #44b549;
}
.weixin-preview .weixin-hd {
    color: #fff;
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 64px;
    background: transparent url(../images/menu_head.png) no-repeat 0 0;
    background-position: 0 0;
}
.weixin-preview .weixin-hd .weixin-title {
    color: #fff;
    font-size: 15px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 28px;
    left: 0px;
}
.weixin-preview .weixin-bd {}
.weixin-preview .weixin-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #e7e7e7;
    /*background: transparent url(../images/menu_foot.png) no-repeat 0 0;*/
    background-position: 0 0;
    background-repeat: no-repeat;
    /*padding-left: 43px;*/
    margin-bottom: 0px;
}
/*一级*/

.weixin-preview .weixin-menu .menu-item {
    position: relative;
    float: left;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 50%;
    border-left: 1px solid #e7e7e7;
    cursor: pointer;
    color: #616161;
}
.weixin-preview .weixin-menu .menu-item.size1of1 {
    width: 100%;
    border: 1px solid #44b549;
    color: #44b549;
}
.weixin-preview .weixin-menu .icon14_menu_add {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -2px;
    background: url(../images/icon.png) 0 0 no-repeat;
}
.weixin-preview .weixin-menu .menu-item:first-child {
    /*border-left-width:0px;*/
}
.weixin-preview .weixin-menu .menu-item.size_0 {
    width: 100%;
}
.weixin-preview .weixin-menu .menu-item.size_1 {
    width: 50%;
}
.weixin-preview .weixin-menu .menu-item.size_2, .weixin-preview .weixin-menu .menu-item.size_3 {
    width: 33.33%;
}
/*二级*/

.weixin-preview .weixin-sub-menu {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    border: 1px solid #d0d0d0;
    margin-bottom: 0px;
    background: #fafafa;
    display: block;
    padding: 0;
}
.weixin-preview .weixin-sub-menu.hide {
    display: none;
}
.weixin-preview .weixin-sub-menu .menu-sub-item {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 100%;
    border: 1px solid transparent;
    border-top-width: 0px;
    cursor: pointer;
    position: relative;
    color: #616161;
    padding: 0 .5em;
    border-top: none;
}
.weixin-preview .menu-arrow {
    position: absolute;
    left: 50%;
    margin-left: -6px;
}
.weixin-preview .arrow_in {
    bottom: -5px;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-bottom-width: 0;
    border-top-color: #fafafa;
    border-top-style: solid;
}
.weixin-preview .arrow_out {
    bottom: -6px;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-bottom-width: 0;
    border-top-color: #d0d0d0;
    border-top-style: solid;
}
.weixin-preview .menu-item .menu-item-title, .weixin-preview .menu-sub-item .menu-item-title {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
}
.weixin-preview .menu-sub-item .menu-item-title {
    border-top: 1px solid #e7e7eb;
}
.weixin-preview .menu-sub-item.current .menu-item-title {
    border-top-width: 0;
}
.weixin-preview .menu-sub-item:first-child .menu-item-title {
    border-top-width: 0;
}
.weixin-preview .menu-item.current, .weixin-preview .menu-sub-item.current {
    border: 1px solid #44b549;
    background: #fff;
    color: #44b549;
    z-index: 1;
}
.weixin-preview .weixin-sub-menu.show {
    display: block;
}
.weixin-preview .icon_menu_dot {
    background: url(../images/icon.png) 0px -36px no-repeat;
    width: 7px;
    height: 7px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 2px;
    margin-top: -2px;
}
.weixin-preview .icon14_menu_add {
    background: url(../images/icon.png) 0px 0px no-repeat;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -2px;
}
.weixin-preview li:hover .icon14_menu_add {
    background: url(../images/icon.png) 0px 0px no-repeat;
}
.weixin-preview .menu-item:hover {
    color: #000;
}
.weixin-preview .menu-sub-item:hover {
    background: #eee;
}
.weixin-preview li.current:hover {
    background: #fff;
    color: #44b549;
}
/*菜单内容*/

.weixin-menu-detail {
    background-color: #fff;
    border: 1px solid #3498db;
    min-height: 540px;
    border-radius: 4px;
    overflow: hidden;
}
.weixin-menu-detail .menu-name {
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}
.weixin-menu-detail .menu-del {
    float: right;
    height: 40px;
    line-height: 40px;
    color: #459ae9;
    cursor: pointer;
}
.weixin-menu-detail .fa {
    color: #fff;
    font-size: 20px;
    padding-right: 15px;
}
.weixin-menu-detail .menu-input-group {
    margin: 10px 0 30px 0;
    overflow: hidden;
}
.weixin-menu-detail .menu-input-group.menu-title {
    background-color: #3498db;
    margin: 0;
    color: #fff;
    padding-left: 20px;
    margin-bottom: 30px;
}
.weixin-menu-detail .menu-label {
    float: left;
    height: 30px;
    line-height: 30px;
    width: 130px;
    text-align: right;
}
.weixin-menu-detail .menu-input {
    float: left;
    width: 380px
}
.weixin-menu-detail .menu-input-text {
    border: 0px;
    outline: 0px;
    background: #fff;
    width: 300px;
    padding: 5px 0px 5px 0px;
    /* margin-left: 10px; */
    text-indent: 10px;
    height: 35px;
}
.weixin-menu-detail .menu-tips {
    color: #8d8d8d;
    padding-top: 4px;
    margin: 0;
}
.weixin-menu-detail .menu-tips.cursor {
    color: #459ae9;
    cursor: pointer;
}
.weixin-menu-detail .menu-input .menu-tips {
    margin: 0 0 0 5px;
}
.weixin-menu-detail .menu-content {
    padding: 16px 20px;
    border: 1px solid #e7e7eb;
    background-color: #fff;
}
.weixin-menu-detail .menu-content .menu-input-group {
    margin: 0px 0 10px 0;
}
.weixin-menu-detail .menu-content .menu-label {
    text-align: left;
    width: 100px;
}
.weixin-menu-detail .menu-content .menu-input-text {
    border: 1px solid #e7e7eb;
}
.weixin-menu-detail .menu-content .menu-tips {
    padding-bottom: 10px;
}
.weixin-menu-detail .menu-msg-content {
    padding: 0;
    border: 1px solid #e7e7eb;
    background-color: #fff;
}
.weixin-menu-detail .menu-msg-content .menu-msg-head {
    overflow: hidden;
    border-bottom: 1px solid #e7e7eb;
    line-height: 38px;
    height: 38px;
    padding: 0 20px;
}
.weixin-menu-detail .menu-msg-content .menu-msg-panel {
    padding: 30px 50px;
}
.weixin-menu-detail .menu-msg-content .menu-msg-select {
    padding: 40px 20px;
    border: 2px dotted #d9dadc;
    text-align: center;
}
.weixin-menu-detail .menu-msg-content .menu-msg-select:hover {
    border-color: #b3b3b3;
}
.weixin-menu-detail .menu-msg-content strong {
    display: block;
    padding-top: 3px;
    font-weight: 400;
    font-style: normal;
}
.weixin-menu-detail .menu-msg-content .menu-msg-title {
    float: left;
    width: 310px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.icon36_common {
    width: 36px;
    height: 36px;
    vertical-align: middle;
    display: inline-block;
}
.icon36_common.add_gray {
    background: url(../images/base_z381ecd.png) 0 -2548px no-repeat;
}
.icon_msg_sender {
    margin-right: 3px;
    margin-top: -2px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
    background: url(../images/msg_tab_z25df2d.png) 0 -270px no-repeat;
}
.weixin-btn-group {
    text-align: center;
    margin: 30px 0px;
    overflow: hidden;
}
.weixin-btn-group .btn {
    width: 100px;
}
#material-list {
    padding: 20px;
    overflow-y: scroll;
    height: 558px;
}
#news-list {
    padding: 20px;
    overflow-y: scroll;
    height: 558px;
}
#material-list table {
    width: 100%;
}
.hide {
    display: none;
}