/* 
 * goodsapi.css
 * 商品api样式
 */
img {width: auto\9;height: auto;vertical-align: middle;border: 0;-ms-interpolation-mode: bicubic;max-width: 100%; }
html { font-size:100%;}
h1,h2,h3,h4,h5,h6{font-size:14px;}


