.p_top{
	padding-top:7px;
}
.modal-dialog{
	width:480px;
}
.col-lg-offset-2-new{
	margin-left: 4.667%;
}
.btn-info-new{
	background-color:#f5f5f5;	
}
.pickup_code{
	font-size:18px;
	font-weight:bold;
}
.btn-new{
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	background-color:#c62626;
	border: 1px solid #c62626;
	color:#fff;
	margin-left:50px;
}